// Share buttons snippet
.share-btn-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    .share-btn {
        display: inline-block;
        height: 20px;
        margin: 0 5px;
    }
}