// Color Variables

// CSS VARIABLES
:root {
    --theme-textcolor: #000;
    --theme-lighttextcolor: #fff;
    --theme-backgroundcolor: #fff;
    --theme-maincolor: #005B72;
    --theme-secondarycolor: #39b9da;
    --theme-inactivecolor: #8e969d;
    --theme-errorcolor: #d32f2f;
}

// THEME COLORS
$theme-textcolor: var(--theme-textcolor);
$theme-lighttextcolor: var(--theme-lighttextcolor);
$theme-backgroundcolor: var(--theme-backgroundcolor);
$theme-maincolor: var(--theme-maincolor);
$theme-secondarycolor: var(--theme-secondarycolor);
$theme-inactivecolor: var(--theme-inactivecolor);
$theme-errorcolor: var(--theme-errorcolor);

// GENERAL
$titleColor: $theme-textcolor;
$textColor: $theme-textcolor;
$anchorColor: $theme-textcolor;

// LOADER
$loaderColor: $theme-maincolor;

// PAGER
$pagerActiveBackground: $theme-maincolor;
$pagerActiveColor: $theme-lighttextcolor;
$pagerBackground: $theme-backgroundcolor;
$pagerColor: $theme-textcolor;

// SEARCH
$searchResultItemColor: $theme-maincolor;

// FORMS
$formValidationError: $theme-errorcolor;

// COOKIEBAR
$cookiebarBackground: $theme-maincolor;
$cookiebarTextColor: $theme-lighttextcolor;
$cookiebarUnderstandButtonBackground: $theme-secondarycolor;
$cookiebarReadmoreButtonBackground: $theme-secondarycolor;